extends base 

mixin navItems(link, text, icon, active)
  li(class=`${active ? 'side-nav--active': ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItems('/me', 'Your Profile', 'settings', true)
          +navItems('/my-orders', 'Your Orders', 'briefcase')
          +navItems('#', 'Your Lists', 'star')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItems('/all-products', 'Manage products', 'map')
              +navItems('/all-users', 'Manage users', 'users')
              +navItems('/all-orders', 'Manage orders', 'star')
 
      section#products.products
        .flexOrder
          each order in orders
            .box
              h3= `product ID: ${order.product.id}`
              h3= `product name: ${order.product.name}`
              .price= `price: $${order.price}`
              - let ans = (order.paid==true)?"yes":"no"
              h3= `pay: ${ans}`
              br
              img(src=`/img/users/${order.user.photo}`, alt='')
              h3= `user ID: ${order.user.id}`
              h3= `user name: ${order.user.name}`
              h3= `user email: ${order.user.email}`
              br

              a.btn.btnOrder(href="#") edit
            br
            br
            p ------------------------
            br
 
     


                        
          


            
      